
    <html>
      <head>
      <title>ICC t20 World Cup Schedule</title>
      <style> 
         bal
         {
            width: 80%;
         }
         table.a
          {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 3rem;
            font-family: sans-serif;
            width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }
         table
          {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 3rem;
            font-family: sans-serif;
            width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }
        tr {
        
        background-color: #009879;;
        color: #ffffff;
        text-align: left;
        }
        th {
        background-color: green;;
        color: #ffffff;
        padding: 12px 15px;
        }
        td {
        padding: 12px 15px;
        }
      </style>
      </head>
      <body>
        
        <div class="bal"> 
        <table class="a">
        <tr>
        <td>
        <img src="static/img/t20_logo.jpg" width=90%>
        </td>
        <td>
        <h1 align="center">Fixtures of T20 World Cup 2022</h1>
        </td>
        </table>
        </div>
        <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>venue</th>
      <th>stage</th>
      <th>team1</th>
      <th>team2</th>
      <th>Result</th>
      <th>Highlights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>SCG</td>
      <td>Super 12</td>
      <td>New Zealand</td>
      <td>Australia</td>
      <td>New Zealand won by 89 runs</td>
      <td>https://2022.t20worldcup.com/video/2866929</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Optus Stadium</td>
      <td>Super 12</td>
      <td>Afghanistan</td>
      <td>England</td>
      <td>England won by 5 wickets</td>
      <td>https://2022.t20worldcup.com/video/2867782</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Blundstone Arena</td>
      <td>Super 12</td>
      <td>Ireland</td>
      <td>Sri lanka</td>
      <td>Sri lanka won by 9 wickets</td>
      <td>https://2022.t20worldcup.com/video/2869237</td>
    </tr>
    <tr>
      <th>3</th>
      <td>MCG</td>
      <td>Super 12</td>
      <td>Pakistan</td>
      <td>India</td>
      <td>India won by 4 wickets</td>
      <td>https://2022.t20worldcup.com/video/2869705</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Blundstone Arena</td>
      <td>Super 12</td>
      <td>Bangladesh</td>
      <td>Netherlands</td>
      <td>Bangladesh won by 9 runs</td>
      <td>https://2022.t20worldcup.com/video/2872860</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Blundstone Arena</td>
      <td>Super 12</td>
      <td>Zimbabwe</td>
      <td>South Africa</td>
      <td>No Result</td>
      <td>https://2022.t20worldcup.com/video/2873203</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Optus Stadium</td>
      <td>Super 12</td>
      <td>Sri lanka</td>
      <td>Australia</td>
      <td>Australia won by 7 wickets</td>
      <td>https://2022.t20worldcup.com/video/2874701</td>
    </tr>
    <tr>
      <th>7</th>
      <td>MCG</td>
      <td>Super 12</td>
      <td>Ireland</td>
      <td>England</td>
      <td>Ireland won by 52 runs</td>
      <td>https://2022.t20worldcup.com/video/2875333</td>
    </tr>
    <tr>
      <th>8</th>
      <td>MCG</td>
      <td>Super 12</td>
      <td>New Zealand</td>
      <td>Afghanistan</td>
      <td>No Result</td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>SCG</td>
      <td>Super 12</td>
      <td>South Africa</td>
      <td>Bangladesh</td>
      <td>South Africa won by 104 runs</td>
      <td>https://2022.t20worldcup.com/video/2878787</td>
    </tr>
    <tr>
      <th>10</th>
      <td>SCG</td>
      <td>Super 12</td>
      <td>India</td>
      <td>Netherlands</td>
      <td>India won by 56 runs</td>
      <td>https://2022.t20worldcup.com/video/2876885</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Optus Stadium</td>
      <td>Super 12</td>
      <td>Zimbabwe</td>
      <td>Pakistan</td>
      <td>Zimbabwe won by 1 runs</td>
      <td>https://2022.t20worldcup.com/video/2877363</td>
    </tr>
    <tr>
      <th>12</th>
      <td>MCG</td>
      <td>Super 12</td>
      <td>Afghanistan</td>
      <td>Ireland</td>
      <td>No Result</td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>MCG</td>
      <td>Super 12</td>
      <td>Australia</td>
      <td>England</td>
      <td>No Result</td>
      <td></td>
    </tr>
    <tr>
      <th>14</th>
      <td>SCG</td>
      <td>Super 12</td>
      <td>New Zealand</td>
      <td>Sri lanka</td>
      <td>New Zealand won by 65 runs</td>
      <td>https://2022.t20worldcup.com/video/2879430</td>
    </tr>
    <tr>
      <th>15</th>
      <td>The Gabba</td>
      <td>Super 12</td>
      <td>Bangladesh</td>
      <td>Zimbabwe</td>
      <td>Bangladesh won by 3 runs</td>
      <td>https://2022.t20worldcup.com/video/2882736</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Optus Stadium</td>
      <td>Super 12</td>
      <td>Netherlands</td>
      <td>Pakistan</td>
      <td>Pakistan won by 6 wickets</td>
      <td>https://2022.t20worldcup.com/video/2882978</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Optus Stadium</td>
      <td>Super 12</td>
      <td>India</td>
      <td>South Africa</td>
      <td>South Africa won by 5 wickets</td>
      <td>https://2022.t20worldcup.com/video/2883589</td>
    </tr>
    <tr>
      <th>18</th>
      <td>The Gabba</td>
      <td>Super 12</td>
      <td>Australia</td>
      <td>Ireland</td>
      <td>Australia won by 42 runs</td>
      <td>https://2022.t20worldcup.com/video/2885258</td>
    </tr>
    <tr>
      <th>19</th>
      <td>The Gabba</td>
      <td>Super 12</td>
      <td>Afghanistan</td>
      <td>Sri lanka</td>
      <td>Sri lanka won by 6 wickets</td>
      <td>https://2022.t20worldcup.com/video/2886225</td>
    </tr>
    <tr>
      <th>20</th>
      <td>The Gabba</td>
      <td>Super 12</td>
      <td>England</td>
      <td>New Zealand</td>
      <td>England won by 20 runs</td>
      <td>https://2022.t20worldcup.com/video/2886530</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Adelaide Oval</td>
      <td>Super 12</td>
      <td>Zimbabwe</td>
      <td>Netherlands</td>
      <td>Netherlands won by 5 wickets</td>
      <td>https://2022.t20worldcup.com/video/2887489</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Adelaide Oval</td>
      <td>Super 12</td>
      <td>India</td>
      <td>Bangladesh</td>
      <td>India won by 39 runs</td>
      <td>https://2022.t20worldcup.com/video/2887882</td>
    </tr>
    <tr>
      <th>23</th>
      <td>SCG</td>
      <td>Super 12</td>
      <td>Pakistan</td>
      <td>South Africa</td>
      <td>Pakistan won by 77 runs</td>
      <td>https://2022.t20worldcup.com/video/2889101</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Adelaide Oval</td>
      <td>Super 12</td>
      <td>New Zealand</td>
      <td>Ireland</td>
      <td>New Zealand won by 35 runs</td>
      <td>https://2022.t20worldcup.com/video/2890159</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Adelaide Oval</td>
      <td>Super 12</td>
      <td>Australia</td>
      <td>Afghanistan</td>
      <td>Australia won by 4 runs</td>
      <td>https://2022.t20worldcup.com/video/2890570</td>
    </tr>
    <tr>
      <th>26</th>
      <td>SCG</td>
      <td>Super 12</td>
      <td>Sri lanka</td>
      <td>England</td>
      <td>England won by 4 wickets</td>
      <td>https://2022.t20worldcup.com/video/2891571</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Adelaide Oval</td>
      <td>Super 12</td>
      <td>Netherlands</td>
      <td>South Africa</td>
      <td>Netherlands won by 13 runs</td>
      <td>https://2022.t20worldcup.com/video/2893962</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Adelaide Oval</td>
      <td>Super 12</td>
      <td>Bangladesh</td>
      <td>Pakistan</td>
      <td>Pakistan won by 5 wickets</td>
      <td>https://2022.t20worldcup.com/video/2894158</td>
    </tr>
    <tr>
      <th>29</th>
      <td>MCG</td>
      <td>Super 12</td>
      <td>India</td>
      <td>Zimbabwe</td>
      <td>India won by 71 runs</td>
      <td>https://2022.t20worldcup.com/video/2894422</td>
    </tr>
    <tr>
      <th>30</th>
      <td>SCG</td>
      <td>Semi-final</td>
      <td>New Zealand</td>
      <td>Pakistan</td>
      <td>Pakistan won by 7 wickets</td>
      <td>https://2022.t20worldcup.com/video/2899838</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Adelaide Oval</td>
      <td>Semi-final</td>
      <td>India</td>
      <td>England</td>
      <td>England won by 10 wickets</td>
      <td>https://2022.t20worldcup.com/video/2901048</td>
    </tr>
    <tr>
      <th>32</th>
      <td>MCG</td>
      <td>Final</td>
      <td>Pakistan</td>
      <td>England</td>
      <td>England won by 5 wickets</td>
      <td>https://2022.t20worldcup.com/video/2907679</td>
    </tr>
  </tbody>
</table>
      </body>
    </html>.
    